#navLaptop .nav:nth-child(6) {
    position: relative;
    color: #dce5e2;
  }
  
  #navLaptop .nav:nth-child(6):before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dce5e2;
    transform: scaleX(1);
    text-decoration: underline;
  }

/*Big photo*/
#aftercare {
    position: relative;
    /*img used*/
    background-image: url(images/lokale/aftercare.jpg);

    /*specific height*/
    min-height: 700px;


    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Overskrift*/
#aftercare h1 {
    position: absolute;

    color: #DCE5E2;
    text-transform: uppercase;
    text-align: center;

    font-size: 54pt;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#aftercareContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:10% 10% 0% 10%;

}

#aftercareContainer div{
    padding:0% 18%;
    margin-bottom:5%;
}

#aftercareContainer h2{
    font-size: 18pt;
}

/*KONTAKT*/
#kontaktOplysninger {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  
  }
  
  #kontaktOplysninger>div {
    width: 12%;
  }

  /*MOBIL*/
@media screen and (max-width:500px) {
/*Big photo*/
#aftercare {
    /*specific height*/
    min-height: 300px;
    background-attachment: scroll;
}

/*Overskrift*/
#aftercare h1 {
font-size:2em;
}

#aftercareContainer{
    padding:15% 5%;
}

#aftercareContainer div{
    padding:5% 10%;

}

#aftercareContainer h2{
    font-size: 14pt;
    margin-bottom: 2%;
}

/*KONTAKT*/
#kontaktOplysninger {
    height: 400px;
  
  }
  
  #kontaktOplysninger>div {
    width: 30%;
  }
}