/*NAV A STREG UNDER AKTIV SIDE*/
#navLaptop #navA {
  position: relative;
  color: #dce5e2;
}

#navLaptop #navA:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dce5e2;
  transform: scaleX(1);
  text-decoration: underline;
}

#artisterne {
  position: relative;
  /*img used*/
  background-image: url(images/lokale/artisterne.webp);

  /*specific height*/
  min-height: 700px;


  /*parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#artisterne h1 {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60pt;

  color: #DCE5E2;
  text-transform: uppercase;
}


/*ARTISTERNE*/
#artister {
  background-size: 100% 95%;
  padding-bottom:10%;
}

#artistKort {
  display: grid;
  grid-template-columns: auto auto auto;

}

#artistKort div{
  margin:10%;
  width:80%;
}

.indivArtist {

  border-radius: 30px 30px 10px 10px;

  text-align: center;

  background-color: rgba(77, 115, 115,0.8);
  color: #DCE5E2;

}

.artistTxtContainer {
  padding:5% 0%;
}

.artistMere{
  padding:10%;
}

/*MOBIL*/
@media screen and (max-width:500px) {
  #artisterne {
    /*specific height*/
    min-height: 300px;
    background-attachment: scroll;
  }

  #artisterne h1 {
    font-size: 2em;
  }

  #artistKort {
    display: flex;
  }

  #artistKort div{
    margin:10% 0%;
    width:90%;
  }

  #artister {
    background-size: cover;
    padding: 15% 10%;
  }

  .artistTxtContainer {
    padding:0% 5%;
  }

  .artistMere{
    bottom:0%;
  }

  .artistTxtContainer p {
    padding-bottom:35%;
  }



}