body {
  background-color: #DCE5E2;
}

/*NAV A STREG UNDER AKTIV SIDE*/
#navLaptop #navKontakt {
  position: relative;
  color: #dce5e2;
}

#navLaptop #navKontakt:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dce5e2;
  transform: scaleX(1);
  text-decoration: underline;
}

/*LOGO*/
#logokontakt {
  display: flex;

  align-items: center;
  width: 15%;
}

/*INDHOLDET PÅ SIDEN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin:8% 2%;
}

ol{
  padding:5%;
  text-align: left;
  
}

ol li{
  padding:2%;
  font-weight: 400;
  font-size: 12pt;
}


/*404 side*/
#indhold404 {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

}

#indhold404>#txt {
  padding: 2%;
}

#indhold404>#oplysninger {
  margin-bottom: 3%;
}


/*HAR DU SPØRGSMÅL OG OPLYSNINGER*/
#txt {
  width: 50%;
}

#oplysninger {
  width: 60%;
  padding:8%;
}

#oplysninger p {
  font-size: 12pt;
  font-weight: 300;
}

#oplysninger p:nth-child(3) {
  margin-bottom: 3%;
}

a {
  color: #4D7373;
  text-decoration: none;
  transition: .5s ease;
}

a:hover {
  color:#F59C6B;
}

/*MOBIL*/
@media screen and (max-width:500px) {
  /*INDHOLDET PÅ SIDEN*/
main {
  margin:20% 0%;
}

#overskrift h1{
  margin-bottom: 10%;
  line-height: 1.5em;
}

ol{
  padding:10% 0%;
  
}

ol li{
  padding: 7% 3%;
  font-size: 11pt;
}


/*HAR DU SPØRGSMÅL OG OPLYSNINGER*/
#txt {
  width: 60%;
}

#oplysninger {
  width: 70%;
  padding:15% 3%;
}

#oplysninger p {
  padding:3%;
}

#oplysninger p:nth-child(3) {
  margin-bottom: 8%;
}
}
