main {
    padding-bottom: 10%;
}

main div:nth-child(2) {
    padding: 10%;
}

main h2 {
    margin-bottom: 1em;

}

main p {
    color: #4D7373;
}

/*NAV A STREG UNDER VED AKTIV SIDE*/
#navLaptop .nav:first-child {
    position: relative;
    color: #dce5e2;
}

#navLaptop .nav:first-child:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dce5e2;
    transform: scaleX(1);
    text-decoration: underline;
}

#top {
    position: relative;
    /*img used*/
    background-image: url(images/butik/om-front.webp);

    /*specific height*/
    min-height: 700px;


    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main>div h1 {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60pt;

    color: #DCE5E2;
    text-transform: uppercase;
}

/*STARTEN*/
#start,
#vaerdier,
#drommen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3% 4% 3% 4%;


}

#start div:first-child,
#vaerdier div:first-child,
#drommen div:first-child {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(77, 115, 115, 1);

    width: 40%;

}

#start img,
#vaerdier img,
#drommen img {
    max-width: 100%;
    border-radius: 20px;


    transform: scale(1);
    transition: .5s ease-in-out;
}

#start img:hover,
#vaerdier img:hover,
#drommen img:hover {
    transform: scale(1.1);

}

#start div:nth-child(2),
#vaerdier div:nth-child(2),
#drommen div:nth-child(2) {
    width: 50%;
    padding: 2em;
}

#vaerdier div:nth-child(2) {
    order: 1;
}

#vaerdier div:first-child {
    order: 2;
}